@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sacramento";
    src: url("../asset/fonts/sacramento-regular.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Visuelt";
    src: url("../asset/fonts/visuelt-regular.ttf");
    font-style: normal;
}

* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.home-link {
    cursor: pointer;
}

.swiper-pagination > .swiper-pagination-bullet {
opacity: 0.4;
background: #FFF!important;
}

.swiper-pagination > .swiper-pagination-bullet-active {
background: white!important;
opacity: 1;
}


.modal-iframe-container{
    height: 550px;
    width: 760px;
    overflow: scroll;
}
.modal-iframe{
    height: 100%;
    width: 100%;
    pointer-events: none;
}

@media screen and (max-width: 768px) {
    .modal-iframe-container {
        width: 350px;
    }
  }


