@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Sacramento';
    src: url('../asset/fonts/sacramento-regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../asset/fonts/inter-regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Visuelt';
    src: url('../asset/fonts/visuelt-regular.ttf');
    font-style: normal;
}
